<%- include('header') %>

<div class="row">
  <% if (cart.length === 0) { %>
  <h2 class="text-center p-5">No product, start adding to see.</h2>
  <% } %>
  <% cart.forEach(product => { %>
  <div class="col-lg-3">
    <div class="card">
      <img class="card-img-top" src=<%= product.image %>>
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-around">
          <span><%= product.name %></span>

          <span class="badge bg-info"><%= product.quantity %> </span>
        </h5>
        <div class="d-flex flex-wrap justify-content-evenly">
          <button data-id="<%= product.id %>" class="btn btn-success add">Add (+)</button>
          <button data-id="<%= product.id %>" class="btn btn-danger remove">Remove (-)</button>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</div>

<script src="/js/addCart.js" type="module"></script>
<script src="/js/removeCart.js" type="module"></script>
<%- include('footer') %>